@charset "UTF-8";
html {
  font-size: 100px; }

body {
  font-size: 16px; }

@media screen and (min-width: 320px) {
  html {
    font-size: 42.66667px; } }

@media screen and (min-width: 360px) {
  html {
    font-size: 48px; } }

@media screen and (min-width: 375px) {
  html {
    font-size: 50px; } }

@media screen and (min-width: 412px) {
  html {
    font-size: 54.93333px; } }

@media screen and (min-width: 414px) {
  html {
    font-size: 55.2px; } }

body, h1, h2, h3, h4, h5, h6, p, pre, ol, ul, li, form, input, textarea, dl, dt, dd, span {
  margin: 0;
  padding: 0; }

ul, li, ol, dt, dd, dl {
  list-style: none; }

a {
  text-decoration: none; }

body {
  background: #fff; }

* {
  font-family: "Microsoft YaHei",sans-serif;
  box-sizing: border-box; }

/*图片路径*/
/*调试块*/
/*上下居中*/
/*左右居中*/
/*居中*/
/*建盒子*/
/*正方形*/
/*圆*/
/*图片居中*/
h1 {
  font-size: 28px; }

h2 {
  font-size: 26px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 22px; }

h3 {
  font-size: 20px; }

p, b, i, div, span, input, a {
  font-size: 16px; }

* {
  box-sizing: border-box; }

body {
  background: #fafafa; }

#my {
  width: 7.5rem; }
  #my .info {
    width: 7.5rem;
    height: 4rem; }
    #my .info .tou {
      display: block;
      width: 1.84rem;
      height: 1.84rem;
      border-radius: 50%;
      margin-top: 0.82rem;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0.34rem;
      overflow: hidden;
      background: pink;
      border: none; }
      #my .info .tou img {
        width: 1.84rem;
        height: 1.84rem;
        border: none; }
    #my .info .uesrname {
      width: 100%;
      height: 0.5rem;
      font-size: 0.32rem;
      color: #3a3a3a;
      font-weight: bold;
      text-align: center;
      line-height: 0.5rem; }
    #my .info .gxqm {
      width: 100%;
      height: 0.5rem;
      font-size: 0.22rem;
      color: #3a3a3a;
      text-align: center;
      line-height: 0.5rem; }
      #my .info .gxqm img {
        width: 0.22rem;
        height: 0.23rem; }
  #my .ul {
    width: 7rem;
    height: 3.6rem;
    box-shadow: 0 0 0.2rem #e1e1e1;
    border-radius: 0.08rem;
    background: #fff;
    margin-left: auto;
    margin-right: auto; }
    #my .ul li {
      width: 100%;
      height: 0.9rem;
      border-bottom: 1px dashed #959595;
      overflow: hidden; }
      #my .ul li .tus {
        display: block;
        width: 0.32rem;
        height: 0.32rem;
        border-radius: 50%;
        float: left;
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: 100%;
        background-image: url(../imgs/d1/d1_23.png);
        margin-left: 0.15rem;
        margin-right: 0.15rem;
        margin-top: 0.25rem; }
      #my .ul li .tu2 {
        background-image: url(../imgs/d1/d1_26.png); }
      #my .ul li .tu3 {
        background-image: url(../imgs/d1/d1_28.png); }
      #my .ul li .tu4 {
        background-image: url(../imgs/d1/d1_30.png); }
      #my .ul li a {
        float: left;
        width: 5.8rem;
        height: 0.5rem;
        margin-top: 0.2rem;
        position: relative; }
        #my .ul li a p {
          width: 100%;
          height: 0.27rem;
          font-size: 0.25rem;
          font-weight: bold;
          color: #333;
          line-height: 0.27rem; }
        #my .ul li a .english {
          display: block;
          width: 100%;
          height: 0.23rem;
          font-size: 0.12rem;
          color: #333;
          line-height: 0.28rem;
          text-transform: uppercase; }
        #my .ul li a .banben {
          display: block;
          width: 0.6rem;
          text-align: right;
          position: absolute;
          right: 0;
          top: 0.1rem;
          font-size: 0.25rem;
          font-weight: bold;
          color: #333; }
      #my .ul li .zhuan {
        float: left;
        width: 0.09rem;
        height: 0.17rem;
        margin-left: 0.15rem;
        margin-top: 0.2rem; }
        #my .ul li .zhuan img {
          width: 100%;
          height: 100%; }
    #my .ul .llast {
      border: none; }
