@charset "UTF-8";
html {
  font-size: 100px;
}

body {
  font-size: 16px;
}

@media screen and (min-width: 320px) {
  html {
    font-size: 42.66667px;
  }
}

@media screen and (min-width: 360px) {
  html {
    font-size: 48px;
  }
}

@media screen and (min-width: 375px) {
  html {
    font-size: 50px;
  }
}

@media screen and (min-width: 412px) {
  html {
    font-size: 54.93333px;
  }
}

@media screen and (min-width: 414px) {
  html {
    font-size: 55.2px;
  }
}

body, h1, h2, h3, h4, h5, h6, p, pre, ol, ul, li, form, input, textarea, dl, dt, dd, span {
  margin: 0;
  padding: 0;
}

ul, li, ol, dt, dd, dl {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background: #fff;
}

* {
  font-family: "Microsoft YaHei",sans-serif;
  box-sizing: border-box;
}

/*图片路径*/
/*调试块*/
/*上下居中*/
/*左右居中*/
/*居中*/
/*建盒子*/
/*正方形*/
/*圆*/
/*图片居中*/
h1 {
  font-size: 28px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 22px;
}

h3 {
  font-size: 20px;
}

p, b, i, div, span, input, a {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'headerfont';
  src: url("../fonts/headerfont/iconfont.eot");
  src: url("../fonts/headerfont/iconfont.eot?#iefix") format("embedded-opentype"), url("../fonts/headerfont/iconfont.woff") format("woff"), url("../fonts/headerfont/iconfont.ttf") format("truetype"), url("../fonts/headerfont/iconfont.svg#iconfont") format("svg");
}

#register {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: #f2f2f2;
}

#register .header-logo {
  background: #29a6dc;
  float: left;
  width: 100%;
  height: auto;
}

#register .header-logo .login-header {
  width: 100%;
  height: 1.4rem;
  position: relative;
}

#register .header-logo .login-header i {
  position: absolute;
  left: 0.44rem;
  top: 0.8rem;
  z-index: 2;
  width: 0.42rem;
  height: 0.42rem;
  border-radius: 50%;
  background: url("../imgs/a1/a_03.jpg");
  background-size: 0.45rem 0.45rem;
}

#register .header-logo .login-header .header-title {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  min-width: 3rem;
  height: 100%;
  line-height: 2rem;
  text-align: center;
  margin: auto;
  color: #fff;
  font-size: 0.3rem;
}

#register .header-logo .logo {
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 0.3rem;
}

#register .header-logo .logo1 {
  height: 3.36rem;
  line-height: 3.36rem;
}

#register .header-logo .logo2 {
  height: 1.55rem;
  line-height: 1.55rem;
}

#register #logincon {
  background: #f2f2f2;
  float: left;
  padding: 0 0.67rem;
}

#register #logincon span {
  width: 100%;
  height: auto;
  line-height: 22px;
  font-size: 0.1rem;
  color: #000;
}

#register #logincon input {
  width: 6.16rem;
  height: 0.86rem;
  border-radius: 0.5rem;
  outline: none;
  border: 1px solid #509dfb;
  color: #999;
  text-align: left;
  margin-top: 0.4rem;
  padding-left: 1.2rem;
  position: relative;
  font-size: 14px;
}

#register #logincon .kuang {
  position: relative;
  height: auto;
}

#register #logincon .kuang i {
  position: absolute;
  left: 0.44rem;
  bottom: 0.20rem;
  width: 0.44rem;
  height: 0.44rem;
  background: url("../imgs/a1/a_07.jpg");
  background-size: 0.44rem 0.44rem;
  z-index: 3;
}

#register #logincon .kuang span {
  position: absolute;
}

#register #logincon .mima .suo {
  background: url("../imgs/a2/a_14.png");
  background-size: 0.44rem 0.44rem;
}

#register #logincon .zaimima .suo {
  background: url("../imgs/a2/a_14.png");
  background-size: 0.44rem 0.44rem;
}

#register #logincon .phone .sj {
  background: url("../imgs/a2/b_07.png");
  background-size: 0.44rem 0.44rem;
}

#register #logincon .yanzheng {
  position: relative;
}

#register #logincon .yanzheng input {
  width: 65%;
  height: 0.86rem;
  float: left;
  padding-left: 0;
  text-align: center;
  padding-bottom: 0.2rem;
  background: #fff;
  color: #3abffd;
}

#register #logincon .yanzheng span {
  width: 50%;
  position: absolute;
  left: 0.55rem;
  top: 0.8rem;
  margin: 0 auto;
  color: #dadada;
  text-align: center;
}

#register #logincon .shuruma {
  position: relative;
}

#register #logincon .shuruma input {
  width: 30%;
  height: 0.86rem;
  float: right;
  padding-left: 0;
  text-align: center;
}

#register #logincon .num {
  margin-top: 0.6rem;
  padding-left: 1.2rem;
}

#register #logincon .one {
  float: left;
  width: 100%;
  height: auto;
  position: relative;
}

#register #logincon .one .zhaohui {
  width: 50%;
  height: auto;
  float: left;
  position: relative;
  padding-left: 0.8rem;
  margin-top: 0.3rem;
}

#register #logincon .one .zhaohui i {
  position: absolute;
  left: 0.3rem;
  top: 0.13rem;
  background: url("../imgs/a1/a_18.jpg");
  background-size: 0.25rem 0.25rem;
  width: 0.25rem;
  height: 0.25rem;
}

#register #logincon .one .zhuce {
  width: 50%;
  height: auto;
  float: right;
  position: relative;
  padding-left: 1.4rem;
  margin-top: 0.3rem;
}

#register #logincon .one .zhuce i {
  position: absolute;
  left: 0.9rem;
  top: 0.13rem;
  background: url("../imgs/a1/a_20.jpg");
  background-size: 0.25rem 0.25rem;
  width: 0.25rem;
  height: 0.25rem;
}

#register #logincon .denglu {
  width: 5.7rem;
  height: 0.7rem;
  text-align: center;
  background: url("../imgs/a1/a_25.jpg");
  background-size: 5.7rem 0.7rem;
  color: #fff;
  padding: 0;
  margin-top: 0.75rem;
  margin-left: 0.25rem;
}
