@charset "UTF-8";
html {
  font-size: 100px; }

body {
  font-size: 16px; }

@media screen and (min-width: 320px) {
  html {
    font-size: 42.66667px; } }

@media screen and (min-width: 360px) {
  html {
    font-size: 48px; } }

@media screen and (min-width: 375px) {
  html {
    font-size: 50px; } }

@media screen and (min-width: 412px) {
  html {
    font-size: 54.93333px; } }

@media screen and (min-width: 414px) {
  html {
    font-size: 55.2px; } }

body, h1, h2, h3, h4, h5, h6, p, pre, ol, ul, li, form, input, textarea, dl, dt, dd, span {
  margin: 0;
  padding: 0; }

ul, li, ol, dt, dd, dl {
  list-style: none; }

a {
  text-decoration: none; }

body {
  background: #fff; }

* {
  font-family: "Microsoft YaHei",sans-serif;
  box-sizing: border-box; }

/*图片路径*/
/*调试块*/
/*上下居中*/
/*左右居中*/
/*居中*/
/*建盒子*/
/*正方形*/
/*圆*/
/*图片居中*/
h1 {
  font-size: .28rem; }

h2 {
  font-size: .26rem; }

h3 {
  font-size: .24rem; }

h4 {
  font-size: .22rem; }

h3 {
  font-size: .20rem; }

p, b, i, div, span, input, a {
  font-size: .16rem; }

html {
  height: 100%;
  width: 100%; }

body {
  height: 100%;
  width: 100%; }

#searchWord {
  width: 100%;
  height: 100%;
  background: #f2f2f2; }
  #searchWord .header {
    width: 100%;
    height: 10.15%;
    background: #29A6DC;
    position: relative; }
    #searchWord .header .back {
      left: .26rem;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      width: .5rem;
      height: .5rem;
      background: #fafafa;
      border: .02rem solid #076cbe;
      border-radius: 50%;
      text-align: center;
      line-height: .5rem; }
    #searchWord .header .voice {
      right: .37rem;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      width: .5rem;
      height: .5rem;
      background: #fafafa;
      border: .02rem solid #076cbe;
      border-radius: 50%;
      text-align: center;
      line-height: .5rem; }
    #searchWord .header .search {
      width: 5.04rem;
      height: .55rem;
      background: #fafafa;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      margin: auto; }
      #searchWord .header .search:after {
        left: 100%;
        top: 0;
        content: "";
        display: block;
        width: .55rem;
        height: .55rem;
        border-radius: 50%;
        margin-left: -.275rem;
        background: #fafafa;
        position: absolute;
        z-index: 0; }
      #searchWord .header .search:before {
        right: 100%;
        top: 0;
        content: "";
        display: block;
        width: .55rem;
        height: .55rem;
        border-radius: 50%;
        margin-right: -.275rem;
        background: #fafafa;
        position: absolute;
        z-index: 0; }
      #searchWord .header .search input {
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        padding-left: .47rem;
        font-size: .22rem;
        color: #c4c4c4;
        background: transparent;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0; }
      #searchWord .header .search .icon {
        width: .55rem;
        height: .55rem;
        position: absolute;
        left: -.2rem;
        top: 0;
        text-align: center;
        line-height: .55rem;
        color: #b2b2b2;
        z-index: 5; }
        #searchWord .header .search .icon:after {
          content: "";
          height: 100%;
          right: 0;
          box-shadow: -.01rem 0 .03rem #e5e5e5;
          display: block;
          width: .01rem;
          position: absolute;
          top: 0; }
  #searchWord .content {
    width: 100%;
    height: 89.85%;
    overflow: auto; }
    #searchWord .content .title {
      width: 100%;
      position: relative;
      padding-left: .7rem;
      padding-top: .35rem; }
      #searchWord .content .title h2 {
        height: .28rem;
        font-weight: normal;
        font-size: .28rem;
        position: relative;
        color: #333333; }
        #searchWord .content .title h2 .point {
          position: absolute;
          left: 1.32rem;
          bottom: 0; }
          #searchWord .content .title h2 .point:after {
            display: block;
            content: "";
            clear: both; }
          #searchWord .content .title h2 .point li {
            width: .04rem;
            height: .04rem;
            float: left;
            border-radius: 50%; }
          #searchWord .content .title h2 .point li + li {
            margin-left: .03rem; }
          #searchWord .content .title h2 .point li:nth-child(1) {
            background: #cabe6a; }
          #searchWord .content .title h2 .point li:nth-child(2) {
            background: #58fedd; }
          #searchWord .content .title h2 .point li:nth-child(3) {
            background: #ffc63e; }
      #searchWord .content .title .icon {
        top: .37rem;
        left: .25rem; }
      #searchWord .content .title h5 {
        margin-top: .12rem;
        color: #636363;
        font-weight: normal; }
    #searchWord .content .book {
      width: 100%;
      padding: .3rem .25rem; }
      #searchWord .content .book ul {
        width: 100%; }
        #searchWord .content .book ul li {
          margin-bottom: .16rem;
          box-shadow: 0 0 .1rem #e6e6e6;
          background: #fff;
          height: 1.7rem;
          border-radius: .1rem;
          position: relative;
          overflow: hidden; }
          #searchWord .content .book ul li .img {
            width: 2.4rem;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0; }
          #searchWord .content .book ul li .fonts {
            width: 4.56rem;
            height: 100%;
            float: right;
            padding: .16rem .18rem;
            position: relative; }
            #searchWord .content .book ul li .fonts .line {
              width: 0;
              height: 1.52rem;
              left: 0;
              position: absolute;
              top: 0;
              bottom: 0;
              margin: auto;
              border-right: .03rem dotted #c7c7c7; }
            #searchWord .content .book ul li .fonts h2 {
              font: .26rem/.26rem "微软雅黑";
              color: #333;
              font-weight: normal; }
            #searchWord .content .book ul li .fonts p {
              margin-top: .08rem;
              line-height: .34rem;
              color: #666666; }
            #searchWord .content .book ul li .fonts .bottom {
              width: 100%;
              position: absolute;
              left: 0;
              padding: 0 .18rem;
              bottom: .08rem;
              height: .26rem; }
              #searchWord .content .book ul li .fonts .bottom:after {
                display: block;
                content: "";
                clear: both; }
              #searchWord .content .book ul li .fonts .bottom > div {
                height: 100%;
                padding-left: .33rem; }
                #searchWord .content .book ul li .fonts .bottom > div p {
                  margin: 0;
                  padding: 0;
                  font: .16rem/.26rem "Araly";
                  color: #d0d0d0; }
              #searchWord .content .book ul li .fonts .bottom .right {
                position: absolute;
                right: .5rem;
                bottom: 0; }
              #searchWord .content .book ul li .fonts .bottom .left {
                position: absolute;
                left: .18rem;
                bottom: 0; }
