@import 'base';
$width1:7.5rem;  //盒子宽度
@mixin box-sizing{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#allTheBooks{
//  float: left;
    width: $width1;
//  min-height: 11.34rem;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;  
    /*最新书评*/
    .review-box{
        @include box1(100%,auto);
        float: left;
        margin-top: 0.25rem;   
    }
    .review-list{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0.23rem;
        @include box1(6.89rem,1.54rem);
        border-radius: 0.4rem;
        box-shadow: 0 0 0.1rem rgba(42,126,255,0.13);
        background-color: #fdfdfd;
    }
    .review-listL{
       @include box1(1.26rem,100%);
       float: left;
        .img1{
            display: block;
            @include cube(0.80rem);
            border-radius: 50%;
            background-image: url($img-path+'e1/c4_31.png');
            background-repeat: no-repeat;
            background-size: 0.81rem 0.80rem;
            background-position: 0 0;
            margin-left: 0.20rem;
            _margin-left: 0.10rem;
            margin-top: 0.25rem;
        }
        .img2{
            background-image: url($img-path+'e1/c4_46.png');
            background-size: 0.80rem 0.80rem;
        }
    }
    .review-listR{
       @include box1(5.63rem,100%);
       float: left;
        .spzy{
            @include box1(100%,0.87rem);
            padding: 0.19rem 0.5rem 0 0.07rem;
            line-height: 0.34rem;
            font-size: 0.22rem;
            color: #666;
            font-weight: normal;
            text-align: left;
            overflow: hidden;
        }
        .dashed1{
            @include box1(5.39rem,0.24rem);
            padding: 0 0.24rem 0 0.07rem;
            line-height: 0.14rem;
            font-size: 0.14rem;
            color: #a0a0a0;
            font-weight: normal;
            text-align: left;
            overflow: hidden;
            background-color: #fff; 
        }
        .recode{
            @include box1(100%,0.35rem);
            padding-right: 0.26rem;
            .recodeL,.recodeR{
                display: block;
                padding-left: 0.36rem;
                float: left;
                text-align: right;
                font-family: tahoma;
                font-weight: normal;
                color: #a4a1a1;
                font-size: 0.18rem;
                line-height: 0.36rem;
                position: relative;
                i{
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0rem;
                    @include cube(0.35rem);
                    border-radius: 50%;
                    background-image: url($img-path+'e1/c4_39.png');
                    background-repeat: no-repeat;
                    background-position: center center;
                    box-shadow: 0 0 0.1rem rgba(42,126,255,0.13);
                    background-size: 0.16rem 0.16rem;
                }
                
            }
            .recodeR{
                float: right;
                i{
                    left: 0;
                    background-image: url($img-path+'e1/c4_42.png');
                    background-size: 0.14rem 0.11rem;
                }
                
            }
        }
    
    }
    /*最新书评*/
}
