@import 'base';
$width1:7.5rem;  //盒子宽度
@mixin box-sizing{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
$img-path3:'e6/';
$img-path2:'e5/';
#comment{
    width: $width1;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    .startLevel{
        @include box1(100%,1.66rem);
        background: #fff;
        position: relative;
        .start-ul{
            @include box1(100%,1.66rem);
            @include box-sizing;
            padding: 0.42rem 0 0.42rem 0.88rem;
        }
        .start-li{
            @include cube(0.82rem);
            float: left;
            margin-right: 0.39rem;
            background-image: url($img-path+$img-path3+'e5_10.png');
            background-position: center center;
            background-size: 0.82rem 0.82rem;    
        }
        .start-border{
            @include box1(100%,0.02rem);
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #999;
        }
    }
    
    /*评论*/
    .com-box{
        @include box1(100%,auto);
        background-color: #fff;
        margin-top: 0.4rem;
        .line{
            @include box1(6.17rem,0.01rem);
            background-color: #d1d1d1;
            margin-left: 0.39rem;
            position: relative;
            .circle{
                @include cube(0.03rem);
                position: absolute;
                top: -0.01rem;
                background-color: #d3d3d3;
            }
            .circle1{
                left: -0.01rem;
            }
            .circle2{
                left: 0.49rem;
            }
            .circle3{
                left: 2.09rem;
            }
            .circle4{
                left: 2.39rem;
            }
            .circle5{
                left: 3.59rem;
            }
            .circle6{
                left: 4.29rem;
            }
            .circle7{
                left: 4.39rem;
            }
            .circle8{
                right: -0.01rem;
            }
        }
        .com-inf{
            @include box1(7.02rem,3.24rem);
            margin: 0.02rem auto 2.38rem;
            box-shadow: 0.01rem 0.01rem 0.12rem rgba(198,198,198,0.75);
            border-radius: 0.08rem;
            .com-con{
                @include box1(100%,100%);
                padding: 0.05rem 0.26rem 0 0.15rem ;
                line-height: 0.34rem;
                font-size: 0.22rem;
                color: #666;
                font-weight: normal;
                text-align: left;
            }
        }
    }
}

/*遮罩*/ 
#mask1{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url($img-path+$img-path3+'mask.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 7.50rem 13.34rem;
    filter: blur(3px);
    z-index: 100;
}
#mask2{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; 
    background-color: rgba(0,0,0,0.2);
    z-index: 101;
}
/*遮罩*/ 

/*评论状态-失败*/
.fail1{
//  display: none;
    @include box1(4.78rem,2.95rem);
    border-radius: 0.05rem;
    @include left-right;
    top: 4.70rem;
    background-image: url($img-path+$img-path3+'e6_03.png');
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: 4.78rem 2.97rem;
    z-index: 102;
    .cancel,.set{
        position: absolute;
        bottom: 0.2rem;
        @include box1(1.95rem,0.58rem);
        border-radius: 0.4rem;
        @include box-sizing;
        border: 1px solid #28dd8b;
        line-height: 0.58rem;
        text-align: center;
        font-size: 0,.28rem;
    }
    .cancel{
        color: #28dd8b;
        background-color: #fff;
        left: 0.30rem;
    }
    .set{
        color: #fff;
        background-color: #28dd8b;
        right: 0.30rem;
    }
}
/*评论状态-失败*/

/*评论状态-失败*/
.success1{
    background-image: url($img-path+$img-path2+'e5_03.png');
    background-size: 4.78rem 2.95rem;
}
/*评论状态-失败*/