@import 'base';
$width1:7.5rem;  //盒子宽度
$height1: 1.75rem; //我的笔记列表高度 
@mixin box-sizing{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
$img-path8:'e8/';
$img-pathF4:'f4/';
$img-pathF10:'f10/';
$color1:#ec2e56;
#note{
//  float: left;
    width: $width1;
//  min-height: 11.34rem;
    margin-left: auto;
    margin-right: auto;
    
    /*笔记条数*/
    .note-count{
        @include box1(100%,0.48rem);
        background-color: #e5e5e5;
        a{
            display: block;
            @include box1(100%,100%);
            color: #a8a8a8;
            font-size: 0.20rem;
            line-height: 0.48rem;
            text-align: center;
        }
    }
    /*笔记条数*/
   
    /*列表*/
    .note-box{
        @include box1(100%,auto);
        float: left;
//      margin-top: 0.30rem;
//      overflow: hidden;     
    }
    .note-list{
        @include box1(100%,auto);
        position: relative;
        float: left;
    }
    .note-listL{
        @include box1(1.20rem,1.90rem);
//      position: absolute;
//      left: 0;
//      top: 0;
        float: left;
        a{
            display: block;
            @include box1(100%,100%);
            background-image: url($img-path+$img-path8+'e8-12.png');
            background-repeat: no-repeat;
            background-size: 0.74rem 0.74rem;
            background-position: 0.24rem 0.45rem;   
        }
    }
    .note-listR{
        @include box1(6.30rem,1.90rem);
        float: left;
        position: absolute;
        right: 0;
        z-index: 91;
        .title{
            height: 0.36rem;
            padding-left: 0.05rem;
            padding-right: 1.90rem;
            color: #151c2b;
            font-size: 0.24rem;
            line-height: 0.40rem;
        }
        .abstract3{
            height: 0.23rem;
            padding-left: 0.05rem;
            padding-right: 2.14rem;
            line-height: 0.23rem;
            color: #666666;
            font-size: 0.16rem;
            font-weight: 500;
        }
        .notes{
            @include box1(5.30rem,0.85rem);
            background-color: #9ae1ff;
            border: 1px solid #e9e9e9;
            border-radius: 0.05rem;
            margin-left: 0.02rem;
            margin-top: 0.11rem;
            background-image: url($img-path+$img-path8+'e8_3_03.png');
            background-repeat: no-repeat;
            background-size: 5.30rem 0.85rem;
            background-position: 0 0;
            padding: 0.12rem 1.12rem 0.13rem 0.52rem;   
            position: relative;
            .p1,.p2{
                height: 0.30rem;
                font-size: 0.20rem;
                color: $color1;
                font-weight: normal;
                line-height: 0.30rem;
                overflow: hidden;
            }
            .pen{
                position: absolute;
                left: 0.23rem;
                top: 0.19rem;
                @include cube(0.21rem);
                background-image: url($img-path+$img-path8+'e8_07.png');
                background-repeat: no-repeat;
                background-size: 0.21rem 0.21rem;
                background-position: center center;
            }
        }
        .notes1{
            background: none;
            border: none;
        }
                .recode{
            float: left;
            @include box1(100%,0.32rem);
            .recodeL,.recodeR{
                display: block;
                float: left;
                margin-top: 0.10rem;
                @include box1(0.65rem,0.22rem);
                text-align: right;
//              padding-bottom: 0.10rem;
                margin-right: 0.40rem;
                line-height: 0.22rem;
                color: #7f7f7f;
                font-size: 0.16rem;
                font-family: Tahoma ;
                font-weight: normal;
                position: relative;
                padding-left: 0.32rem;
                i{
                    display: block;
                    @include  top-bottom;
                    left: 0.05rem;
                    @include cube(0.16rem);
                    border-radius: 50%;
                    background-image: url($img-path+$img-path8+'e7_21.png');
                    background-repeat: no-repeat;
                    background-position: center center;
//                  box-shadow: 0 0 0.1rem rgba(42,126,255,0.13);
                    background-size: 0.16rem 0.16rem;
                }
            }
            .recodeR{
                @include box1(0.6rem,0.22rem);
                padding-left: 0.33rem;
                i{

                    @include box1(0.25rem,0.14rem);
                    left: 0;
                    @include  top-bottom;
                    background-image: url($img-path+$img-path8+'e7_4.png');
                    background-size: 0.25rem 0.14rem;
                }
                
            }
            .bj{
                float: right;
                margin-right: 1.04rem;
                display: block;
                @include box1(0.71rem,0.31rem);
                border-radius: 0.10rem;
                border: 1px solid #fff;
                background-image: url($img-path+$img-pathF4+'f4_03.png');
                background-repeat: no-repeat;
                background-position: 0.01rem 0.01rem;
                background-size: 0.75rem 0.35rem;
                
            }
        }
    }

    .dashed1{
            @include box1(100%,0.16rem);
            line-height: 0.14rem;
            font-size: 0.14rem;
            color: #a0a0a0;
            font-weight: normal;
            text-align: left;
            overflow: hidden;
            background-color: #fff; 
            margin-left: auto;
            margin-right: auto;
        }
    /*列表*/
       /*选中效果*/
    .selected{
        width: 100%;
//      @include box1(100%,$height1);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: url($img-path+$img-path8+'e8_11.png');
        background-repeat: no-repeat;
        background-size: 7.50rem 2rem;
        background-position: 0rem 0rem;
        @include box-sizing;
        border-left:1px solid #29dcbc;
        border-right:1px solid #29dcbc;
        border-top:1px solid #29dcbc;
        border-bottom:2px solid #29dcbc;
        @include box-sizing;
        z-index: 90;
//      display: none;
    }
    .delete1{
        width: 0.95rem;
        position: absolute;
        right: 0;
        top: 0rem;
        bottom: 0;
        z-index: 92;
        .delete-btn{
            @include cube(0.31rem);
            @include center;
            background-image: url($img-path+$img-path8+'e7_07.png');
            background-repeat: no-repeat;
            background-size: 0.31rem 0.31rem;
            background-position: center center; 
        }
    }
    
}

/*遮罩*/ 
#mask3{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url($img-path+$img-pathF10+'弹幕下.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 7.52rem 13.41rem;
    filter: blur(5px);
    z-index: 100;
}
#mask4{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; 
    background-color: rgba(0,0,0,0.8);
    z-index: 101;
    background-image: url($img-path+$img-pathF10+'f10_03.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1.95rem 2.28rem;
}
/*遮罩*/ 